{%- if site.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{%- endif -%}
{%- if site.enable_cronitor_analytics -%}
  <!-- Cronitor RUM -->
  <script async src="https://rum.cronitor.io/script.js"></script>
  <script>
    window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
    cronitor('config', { clientKey: '{{site.cronitor_analytics}}' });
  </script>
{%- endif -%}
  <!-- Statcounter (personal website) -->
  <script type="text/javascript">
    var sc_project=13061059;
    var sc_invisible=1;
    var sc_security="7bbebdc5";
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/13061059/0/7bbebdc5/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
